<div class="row">
    <div class="col-md-2 col-md-offset-5" id="form">
    <div class="text-center">
    <%= form_for @listing do |f| %>
	<%= f.label :title %><br>
    <%= f.text_field :title %>
    <br><br>
	<%= f.label :description %><br>
    <%= f.text_field :description%>
    <br><br>
    <%= f.label :location %><br>
    <%= f.text_field :location%>
    <br><br>
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity%>
    <br><br>
    <%= f.label :price %><br>
    <%= f.number_field :price%>
    <br><br>
    <%= f.label :tag_list, "Tags (separated by commas)" %><br>
    <%= f.text_field :tag_list%>
    <br><br>
    <div id="img">
    <%= f.file_field :avatars, multiple: true %>
    </div>
    <br><br>
    <%= f.submit "Save changes", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
</div>
