<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
<h1>Listings</h1>

<% @listings.each do|x| %>
<%= x.id %> <br>
Title:
<%=x.title%><br>
Description:
<%=x.description%><br>
Location:
<%=x.location%><br>
Tags:
<%= raw x.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %><br>
Images:<br>
<%if x.avatars[0] !=  nil%>
<%= image_tag (x.avatars[0].medium.url) %>
<%else%>
No images yet!
<% end %>
<br>
Posted by:
<%= link_to x.user.name, user_path(x.user.id) %><br>
<%= link_to "View full listing", listing_path(x) %>
<br>
----------------------------------------------------------------------<br>
<% end %>

<%= will_paginate @listings %>
<br>

<%= link_to "Home", root_path %>

</div>
<div class="col-md-4">
</div>
</div>



