<h1> Search </h1>

<% @listings.each do|x| %>
<%= x.id %> <br>
Title:
<%=x.title%><br>
Description:
<%=x.description%><br>
Location:
<%=x.location%><br>
Tags:
<%= raw x.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %><br>
Images:
<% if x.avatars.count == 0%>
No images yet!
<%else%>
<%= image_tag (x.avatars[0].large.url) %>
<%end%>
<br>
Posted by:
<%= link_to x.user.name, user_path(x.user.id) %><br>
<%if current_user.id == x.user_id%>
<%= link_to "Edit", edit_listing_path(x) %><br>
<%= link_to "Delete", listing_path(x), method: :delete %><br>
<%end%>
<%= link_to "View full listing", listing_path(x) %>
<br>
<% end %>