<h1>All Listings</h1>
Title:
<%=@listing.title%>
<br>
Description:
<%=@listing.description%>
<br>
Tags:
<%= @listing.tag_list%>
<br>
Images:
<%= image_tag (@listing.avatars[0].large.url) %>
<br><br>

<%= link_to "Home", root_path %>
<br>
<%= link_to "Edit", edit_listing_path %>

