<h1>Listing</h1>
Title:
<%=@listing.title%>
<br>
Description:
<%=@listing.description%>
City:
<%=@listing.city%>
Tags:
<%= @listing.tag_list%>
<br>
Images:
<div class="row" >
<div class ="col-md-12">
<div class="image-div container">

  <% if @listing.avatars?%>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <%for i in 0..@listing.avatars.count - 1 %>
          <li data-target="#myCarousel" data-slide-to="<%=i%>"></li>
          <%end%>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @listing.avatars.each_with_index do |avatar, index|%>
          <div class="item <%= 'active' if index == 0%>" style="width: 800px; height: 300px; margin: 0 auto;">
            <%= image_tag (avatar.large.url) %>
          </div>
          <%end%>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">	
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <%end%>
</div>
</div>
</div>

<%if @listing.user != current_user%>
<div class="row" >
<div class ="col-md-6">
<h4>Booking form</h4>
(Check for availability, no 2 occupants can share the same timespan)
<div class="row">
	<div class="col-md-12">
	<form method=post action='/book'>
		<label for="from">From</label>
		<input type="text" id="from" name="from">
		<label for="to">to</label>
		<input type="text" id="to" name="to">
		<label for="amount">Amount</label>
		<input type="number" id="amount" name="amount">
		<input type="hidden" name="id" value=<%=@listing.id%> />
		<input type="submit" value="Submit">
	</form>
	</div>
</div>
<% end %>
</div>
</div>

<%if @listing.bookings.count > 0 %>
<div class="row" >
<div class ="col-md-6">
<br>
<h4>Bookings</h4>
<div class="row">
	<div class="col-md-12">
	<%@listing.bookings.each do |x|%>
	<%=x.id%>
	Booking by:
	<%=x.booker.name%>
	From:
	<%=x.time_start%>
	Till:
	<%=x.time_end%>
  <br><br>
	<%end%>
<% elsif currrent_user=@listing.user && @listing.bookings.count == 0%>
<h4>No bookings yet!
<br>
<% else %>
<br>
<h4>No bookings yet! Fill in the fields above to book!</h4>
<%end%>
</div>
</div>
</div>
</div>



<%= link_to "Home", root_path %>
<br>
<%= link_to "Edit", edit_listing_path %>

