<div class="text-center">
<% if  @c_user == current_user %>
<h1> Your Profile </h1>
<% else %>
<h1>Profile </h1>
<%end%>

<h2> <%=@c_user.name%></h2>

<h4> <%=@c_user.name%>'s Listings </h4>
<div>
<%@c_user.listings.each do |x| %>
<%= x.id %> <br>
Title:
<%=x.title%><br>
Description:
<%=x.description%><br>
Tags:
<%= raw x.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %><br>
<%if current_user.id == x.user_id%>
<%= link_to "Edit", edit_listing_path(x) %><br>
<%= link_to "Delete", listing_path(x), method: :delete %><br>
<%end%>
<br><br>
<% end %>
<br>
</div>

<h4> <%=@c_user.name%>'s Reservations </h4>
<div>
<%y=0%>
<%@c_user.bookings.each do |x| %>
<%=y+=1%><br>
Listing:
<%=x.bookable.title%><br>
Start Date:
<%=x.time_start%><br>
Start Date:
<%=x.time_end%><br>
<%= link_to "View full listing", listing_path(x.bookable) %><br>
<%end%>
</div>

<br>
<%= link_to "Back to Users", users_path %>
</div>

