<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    "acts_as_bookable/application", media: "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pairbnb</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 3
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );

</script>
</head>
<body>
  <nav class="navbar navbar-default">
  <div id="header" class="col-md-1">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>
   <div class="col-md-2">
    <% if current_user %> 
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", sign_out_path, method: :delete %>
    <% else %>
    <a class="btn btn-block btn-social btn-facebook" id="sign in" href="/auth/facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      Sign in with Facebook
    </a>
    <% end %>
  </div>
  <div class="col-md-1">
  <% if signed_in? %>
  <%= link_to "Profile", user_path(current_user) %>
  <% end %>
  </div>
  <div class="col-md-1">
  <%= link_to "Home", root_path %>
  </div>
  </nav>

   <div class="col-md-2">
  <%= link_to "Home", root_path %>
  </div>
  </nav>

  <div class="row">
  <div class="col-md-12">
  <form method=post action='/search'>
    <label for="search">Search:</label>
    <input type="text" id="city" name="city">
    <input type="submit" value="submit" name="submit">
    </form>
    </div>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
