<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <nav class="navbar navbar-default">
  <div id="header" class="col-md-1">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>
   <div class="col-md-2">
    <% if current_user %> 
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", sign_out_path, method: :delete %>
    <% else %>
    <a class="btn btn-block btn-social btn-facebook" id="sign in" href="/auth/facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      Sign in with Facebook
    </a>
    <% end %>
  </div>
  </nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
